button {
    font-family: monospace;
}

.img-box {
    display: grid;
    height: 50%;
}

.logo {
    max-width: fit-content;
    max-height: 100vh;
    margin: auto;
}

body {
    background: linear-gradient(45deg, #007A00, black);
    margin: 20px;
}